* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: oklch(28.2% 0.091 267.935);
    padding: 3rem;
    position: relative;
    z-index: 10;
}

.titulo {
    max-width: 120rem;
    margin: 0 auto;

    h1 {
        text-align: center;
        color: white;
        font-size: 4rem;
    }
}

a {
    color: #FFF;
    text-decoration: none;
}

.cadastro {
    h2 {
        text-align: center;
        margin-block: 2rem;
        font-size: 3rem;
        margin-top: 3rem;
        position: relative;
        z-index: 10;
    }  
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    
    label, input {
        margin-bottom: 2rem;
    }

    input {
        border-radius: 3rem;
        padding: 1rem;
        padding-inline: 10rem;
    }

    label {
        display: block;
    }

    button {
        padding: 1rem;
        padding-inline: 9rem;
        border-radius: 8rem;
        background: oklch(39.6% 0.141 25.723);
        color: white;
    }
}

strong {
    color: #FFF;
}

img {
    width: 100%;
    position: absolute;
    top: 2rem;
}
