
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.menu {
  background-color: #113f73;  
  display: flex;
  align-items: center;
  padding: 10px 405px;
}

.menu img {
  width: 55px;
  margin-right: 15px;
}

.menu nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;

  a:hover {
        transform: scale(1.1);
        font-weight: 700;
        transition: ease-in-out .4s;
    }
}


.menu nav .ativo {
  color: red;
}

.descricao {
  background: #f2f2f2;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid #ccc;
}

.titulo-quiz {
  background: #3aa0dd;
  margin: 20px auto;
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.quiz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.pergunta {
  background: #cfe9ff;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.pergunta h3 {
  margin-bottom: 8px;
}

.pergunta p {
  margin: 3px 0;
}

.resposta {
  position: absolute;
  inset: 0;
  background: #3aa0dd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s;
  font-weight: bold;
}

.pergunta:hover .resposta {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
}

.creditos {
  margin-top: 8px;
}