* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", sans-serif;
    scroll-padding-top: 9.8rem;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #113f73;
    padding-block: 0.2rem;
    color: #fff;
    
    

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



header {
    background: #113f73;  
    padding: 1rem 0;
    width: 100%;
}

.navegacao {
    width: 110rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navegacao img {
    width: 5.5rem;
}

.navegacao a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 600;
}

a:hover {
        transform: scale(1.1);
        font-weight: 700;
        transition: ease-in-out .4s;
    }

    #home{
        color: #ff3131;
    }


main {
    background: oklch(100% 0.00011 271.152);
    height: calc(100svh - 9.8rem);
    padding-block: 3rem;
    text-align: center;
    margin-top: 9.8rem;

    h2 {
        text-align: left;
        margin-top: 0.5rem;
        color: #a01016;
    }
}



.main-container {
    max-width: 120rem;
    margin: 0 auto;
    

    img {
        width: 1241px;
        height: 621px;
        border-radius: 3%;
    }

    
    
        p{
            margin-bottom: 3.2rem;
         }
    
         }

.main-container2{
    max-width: 120rem;
    margin: 0 auto;

    section {
        margin-top: 1.1rem;

        h2 {
        text-align: left;
        margin-top: 0.5rem;
        color: #a01016;
    }

    p{
        text-align: left;
    }

        ul {
            text-align: left;
            position: relative;
            left: 3rem;
            
        }

        img{
            width: 494px;
        height: 249px;
        border-radius: 3%;
        }

}
}
