
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", sans-serif;
    scroll-padding-top: 9.8rem;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #113f73;
    padding: .5rem;
    color: #fff;
    
    

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    display: flex;

    nav {
       display: flex; 
       align-items: center;
        margin-block: 10px;
    
        img {
        width: 55px;
        margin-right: 30px;
        margin-left: 10px;
        }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;


    
    
            a{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            }

            #cultura {
                color: #ff3131;
            }

    #home{
        color: #fff;
    }

    #cultura {
        color: #ff3131;
    }

    }

    }
}

main {
    background: oklch(100% 0.00011 271.152);
    height: calc(100svh - 9.8rem);
    padding-block: 3rem;
    text-align: center;
    margin-top: 9.8rem;

    h2 {
        text-align: left;
        margin-top: 0.5rem;
        color: #a01016;
    }
}



.main-container {
    max-width: 120rem;
    margin: 0 auto;
    

    img {
        width: 1241px;
        height: 621px;
        border-radius: 3%;
    }

    
    
        p{
            margin-bottom: 3.2rem;
            
         }
    
         }

.main-container2{
    max-width: 120rem;
    margin: 0 auto;

   

    section {
        margin-top: 1.1rem;

        ul {
            text-align: left;
            position: relative;
            left: 3rem;
            list-style: none;
            
        }

        img{
            width: 494px;
        height: 249px;
        border-radius: 3%;
        }

    h2 {
        text-align: left;
        margin-top: 0.5rem;
        color: #a01016;
    }

    p {
        max-width: 70rem;
        margin: auto;
        line-height: 2.5rem;
    }
}
}