
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #FFF;
}

.menu {
  background-color: #113f73;  
  display: flex;
  align-items: center;
  padding: 10px 405px;
}

.menu img {
  width: 55px;
  margin-right: 15px;
}

.menu nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
}

.menu nav .ativo {
  color: red;
}

.descricao {
  background: #f2f2f2;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid #ccc;
}

.titulo-quiz {
  background: #3aa0dd;
  margin: 20px auto;
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.quiz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.pergunta {
  background: #cfe9ff;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.pergunta h3 {
  margin-bottom: 8px;
}

.pergunta p {
  margin: 3px 0;
}

.resposta {
  position: absolute;
  inset: 0;
  background: #3aa0dd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s;
  font-weight: bold;
}


.pergunta:hover .resposta {
  opacity: 1;
}


footer {
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
}

.creditos {
  margin-top: 8px;
}

.topo-economia {
  width: 90%;
  margin: 20px auto;
}

.topo-economia h4 {
  color: #555;
}

.topo-economia h1 {
  font-size: 28px;
  color: #0a2b63;
}

.banner-economia {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.banner-economia img {
  width: 100%;
  height: 260px;       
  object-fit: cover;  
  border-radius: 15px;
}

.legenda {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 14px;
  color: #555;
}

.grid-economia {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  background: #dff0ff;
  border-radius: 15px;
  padding: 10px;
}

.box img {
  width: 100%;
  height: 160px;    
  object-fit: cover;
  border-radius: 10px;
}

.box p {
  font-size: 14px;
  margin-top: 8px;
}
