
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #FFF;
}

.menu {
  background-color: #113f73;  
  display: flex;
  align-items: center;
  padding: 10px 405px;
}

.menu img {
  width: 55px;
  margin-right: 15px;
}

.menu nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
}

a:hover {
        transform: scale(1.1);
        font-weight: 700;
        transition: ease-in-out .4s;
    }

.menu nav .ativo {
  color: red;
}



.topo-economia {
  width: 90%;
  margin: 20px auto;
}

.topo-economia h4 {
  color: #555;
}

.topo-economia h1 {
  font-size: 28px;
  color: #0a2b63;
}

.banner-economia {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.banner-economia img {
  width: 100%;
  height: 260px;       
  object-fit: cover;  
  border-radius: 15px;
}

.legenda {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 14px;
  color: #555;
}

.grid-economia {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  background: #dff0ff;
  border-radius: 15px;
  padding: 10px;
}

.box img {
  width: 100%;
  height: 160px;    
  object-fit: cover;
  border-radius: 10px;
}

.box p {
  font-size: 14px;
  margin-top: 8px;
}
