* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    max-height: 100rem;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #113f73;
    padding: 2rem;
    position: relative;
    z-index: 10;
}

.titulo {
    max-width: 120rem;
    margin: 0 auto;

    h1 {
        text-align: center;
        color: white;
        font-size: 4rem;
    }
}

a {
    color: #FFF;
    text-decoration: none;
    margin-left: 8rem;
}

.home {
    margin-left: 150rem;
}

.cadastro {
    h2 {
        text-align: center;
        margin-block: 2rem;
        font-size: 3rem;
        margin-top: 3rem;
        position: relative;
        z-index: 10;
    }  
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    
    label, input {
        margin-bottom: 2rem;
    }

    input {
        border-radius: 3rem;
        padding: 1rem;
        padding-inline: 10rem;
    }

   label {
        display: block;
   }
   
    button {
        padding: 1rem;
        padding-inline: 8rem;
        border-radius: 8rem;
        background: #a01016;
        color: white;
    }


}

p{
    text-align: center;
    margin-top: 1rem;
    position: relative;
    z-index: 10;
}

strong {
    color: #FFF;
}

img {
    width: 100%;
    position: absolute;
    top: 5rem;
}
