* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: #113f73;  
    padding: 1rem 0;
    width: 100%;
}

.navegacao {
    width: 110rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navegacao img {
    width: 5.5rem;
}

.navegacao a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 600;
}

#pontos {
    color: #ff3131;
}

.palace img {
    width: 168rem;
    height: 80rem;
    border-radius: 3rem;
    margin-left: 10rem;
}

.titulo {
    max-width: 166rem;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    
    h2 {
        font-size: 2.8rem;
        margin-top: 2rem;
        color: #a01016;
    }

    h1 {
        font-size: 3.9rem;
    }
}

.paragrafo-imagem {
    max-width: 140rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Gabarito", sans-serif;
    text-align: center;
    margin-bottom: 4rem;
    width: 140rem;
}

.linha {
    background: #737373;
    height: .3rem;
    max-width: 168rem;
    margin: 0 auto;
}

.mais-visitados {
    max-width: 170rem;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    
    h2 {
        color: #a01016;
        font-size: 2.8rem;
    }
}

.ilha-primeiro {
    font-family: "Gabarito", sans-serif;
    
    h3 {
        font-size: 2rem;
        text-align: right;
        margin-top: 3rem;
        margin-right: 121rem;
        width: 70rem;
    }

    p {
        font-size: 2rem;
        text-align: right;
        margin-right: 120rem;
        margin-left: 20rem;
        width: 50rem;
    }
}

.ilha-segundo {
    margin-top: 1.5rem;
    font-family: "Gabarito", sans-serif;
    
    p {
        font-size: 2rem;
        text-align: right;
        margin-right: 120rem;
        margin-left: 20rem;
        width: 50rem;
    }
}

.imagem-ilha {
    max-width: 180rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180rem;

    img {
        height: 35rem;
        width: 35rem;
        border-radius: 3rem;
        position: absolute;
        top: 110rem;
    }
}

.torre-primeiro {
    font-family: "Gabarito", sans-serif;

    h3 {
        font-size: 2rem;
        margin-top: 17rem;
        margin-right: 85rem;
        margin-left: 60rem;
        width: 70rem;
    }

    p {
        font-size: 2rem;
        margin-right: 85rem;
        margin-left: 60rem;
        width: 45rem;
    }
}

.torre-segundo {
    margin-top: 1.5rem;
    font-family: "Gabarito", sans-serif;

    p {
        font-size: 2rem;
        margin-right: 85rem;
        margin-left: 60rem;
        width: 45rem;
    }
}

.imagem-torre {
    img {
        height: 45rem;
        width: 40rem;
        border-radius: 3rem;
        margin-left: 18rem;
        margin-top: -25rem;
        margin-bottom: 3rem;
    }
}

.palacio-primeiro {
    font-family: "Gabarito", sans-serif;

    h3 {
        font-size: 2rem;
        margin-right: 30rem;
        margin-left: 110rem;
        text-align: right;
        margin-top: -35rem;
        width: 50rem;
    }

    p {
        font-size: 2rem;
        margin-right: 30rem;
        margin-left: 110rem;
        text-align: right;
        width: 50rem;
    }
}

.palacio-segundo {
    margin-top: 1.5rem;
    font-family: "Gabarito", sans-serif;

    p {
        font-size: 2rem;
        margin-right: 30rem;
        margin-left: 110rem;
        text-align: right;
        width: 50rem;
    }
}

.imagem-palacio {
    img {
        border-radius: 3rem;
        margin-left: 120rem;
        width: 40rem;
        height: 48rem;
        position: absolute;
        top: 110rem;
    }
}

